<div class="form-group">
    <label for="title" class="col-sm-2 control-label">Title</label>
    <div class="col-sm-10">
        <input type="text" ng-model="screen.title" class="form-control" id="title" placeholder="Title of screen"/>
    </div>
</div>


<!-- Add Upload functionality HERE -->



<!-- Display Image -->
<img ng-src="https://s3.amazonaws.com/protometheus-photos/{{screen.imageName}}" alt="Image of screen" />

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
</div>