<table class="table movietable">
    <tr>
        <td><h3>Service Details</h3></td>
        <td></td>
    </tr>
    <tr>
        <td>Title</td>
        <td>{{service.title}}</td>
    </tr>
     <tr>
        <td>Description</td>
        <td>{{service.description}}</td>
    </tr>
    <tr>
        <td>Method</td>
        <td>{{service.method}}</td>
    </tr>
    <tr>
        <td>URL</td>
        <td>{{service.urlResource}}</td>
    </tr>
    <tr>
        <td>Request Headers</td>
        <td>{{service.requestHeaders}}</td>
    </tr>
    <tr>
        <td>Request Body</td>
        <td>{{service.requestBody}}</td>
    </tr>
</table>
<div>
    <a class="btn btn-primary" ui-sref="editService({serviceID:service.serviceID})">Edit</a>
</div>