<a ui-sref="newService" class="btn-primary btn-lg nodecoration">Add New Service</a>
<table class="table movietable">
    <tr>
        <td><h3>All Services</h3></td>
        <td></td>
        <td></td>
    </tr>
    <tr ng-repeat="service in services">
        <td>{{service.title}}</td>
        <td>
            <a class="btn btn-primary" ui-sref="viewService({serviceID:service.serviceID})">View</a>
            <a class="btn btn-danger"  ng-click="deleteService(service)">Delete</a>
        </td>
    </tr>
</table>